<h1>Listing things</h1>

<script>
  start_map()
</script>
<div id="map-canvas"> </div>

<script>

  // first = { name: "betahaus", place: "berlin"}
  // second = {name: "shop", place: "london"}

    things = [
        <% @things.each do |thing| %>
            {
              name: "<%= thing.name %>",
              lat: "<%= thing.lat %>",
              lng: "<%= thing.lng %>",

            },


        <% end %>
    ]



</script>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= thing.name %></td>
        <td><%= thing.description %></td>
        <td><%= thing.lat %></td>
        <td><%= thing.lng %></td>
        <td><%= thing.image %></td>
        <td><%= link_to 'Show', thing %></td>
        <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thing', new_thing_path %>
