
<script>
  start_map();
</script>

<div id="map-canvas" class="map maplg hidden-sm hidden-xs"> </div>

<div class="index hidden-sm hidden-xs">
  <div class="results">
    <form action="<%= things_path %>" method="get">
      <input name="searchterm" placeholder="Search..." class="searchform" type="text" value="<%= @searchterm %>" >

    </form>
  </div>


  <script>
    things = [
        <% @things.each do |thing| %>
            {
              name: "<%= thing.name %>",
              lat: "<%= thing.lat %>",
              lng: "<%= thing.lng %>",
              imgpath: "<%= thing.image %>",
              url: "<%= thing_path(thing) %>"
            },
        <% end %>
    ]
  </script>

  <% if @things.empty? %>
    <div class="notice_bounty">
      <p><strong><%= "None found - yet!" %></strong></p>
      <p><%= "Unleash the kraken and we'll notify you when someone finds it:" %></p>
    </div>
    <%= form_for(Bounty.new(name: @searchterm)) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.text_field :email, {class: "emailbounty", placeholder: "Your email address"} %>
      <div class="bountysubmit">
      <%= f.submit %>
      </div>
    <% end %>
  <% else %>

  <div class="table-responsive hidden-sm hidden-xs">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
         </tr>
       </thead>

        <tbody>
          <% @things.each do |thing| %>
            <tr>
              <td><%= link_to thing.name, thing %></td>
              <td><%= number_to_currency(thing.price, unit: "€")%></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <% end %>
</div>  <!-- end index -->

<div class="mobile hidden-md hidden-lg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 cta">
        <%= link_to 'Add a new thing', new_thing_path, {class: 'btnnew'} %>
      </div>
    </div> <!-- end row -->

    <div class="row">
      <div class="col-xs-12">
        <div id="map-canvas-sm" class="map"> </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12">
          <script>
              things = [
                  <% @things.each do |thing| %>
                      {
                        name: "<%= thing.name %>",
                        lat: "<%= thing.lat %>",
                        lng: "<%= thing.lng %>",
                        imgpath: "<%= thing.image %>",
                        url: "<%= thing_path(thing) %>"
                      },
                  <% end %>
              ]
            </script>

            <% if @things.empty? %>
              <%= "None found - yet! Create a bounty for hunters!" %>
              <%= form_for(Bounty.new(name: @searchterm)) do |f| %>
                <%= f.hidden_field :name %>
                <%= f.label :email %><br>
                <%= f.text_field :email %>
                <%= f.submit %>
              <% end %>
            <% else %>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Store</th>
                    <th>Price</th>
                 </tr>
               </thead>

                <tbody>
                  <% @things.each do |thing| %>
                    <tr>
                      <td><%= link_to thing.name, thing %></td>
                      <td><%= thing.description %></td>
                      <td><%= 'Price' %></td>
                    </tr>
                  <% end %>
                <% end %>  
                </tbody>
            </table>
        </div> <!-- end table -->
      </div> <!-- end 12 -->
    </div> <!-- end row -->    
  </div> <!-- end container -->  

  
</div> <!-- end mobile -->