
<script>
  start_map();
</script>

<div id="map-canvas" class="map"> </div>

<div class="index">
  <div class="results">
    <form action="<%= things_path %>" method="get">
      <label for="">Search for</label>
      <input name="searchterm" type="text" value="<%= @searchterm %>" >
      <input type="submit">
    </form>
  </div>

  <script>
    things = [
        <% @things.each do |thing| %>
            {
              name: "<%= thing.name %>",
              lat: "<%= thing.lat %>",
              lng: "<%= thing.lng %>",
              imgpath: "<%= thing.image %>",
              url: "<%= thing_path(thing) %>"
            },
        <% end %>
    ]
  </script>

  <% if @things.empty? %>
    <%= "None found - yet! Create a bounty for hunters!" %>
    <%= form_for(Bounty.new(name: @searchterm)) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      <%= f.submit %>
    <% end %>
  <% else %>

  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Store</th>
          <th>Price</th>
       </tr>
     </thead>

      <tbody>
        <% @things.each do |thing| %>
          <tr>
            <td><%= link_to thing.name, thing %></td>
            <td><%= thing.description %></td>
            <td><%= 'Price' %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <% end %>

  <%= link_to 'New Thing', new_thing_path %>
  <%= link_to 'Bounties', bounties_path %>
</div>  <!-- end things -->