
<script>
  start_map();
</script>

<div class="container">
  <div class="row">

  <form action="<%= things_path %>" method="get">
    <label for="">Search for</label>
    <input name="searchterm" type="text" value="<%= @searchterm %>" >
    <input type="submit">
  </form>

  <div id="map-canvas"> </div>

  <script>

    // first = { name: "betahaus", place: "berlin"}
    // second = {name: "shop", place: "london"}
      things = [
          <% @things.each do |thing| %>
              {
                name: "<%= thing.name %>",
                lat: "<%= thing.lat %>",
                lng: "<%= thing.lng %>",
                imgpath: "<%= thing.image %>",
                url: "<%= thing_path(thing) %>"
              },


          <% end %>
      ]
  </script>


  <% if @things.empty? %>
    <%= "None found - yet! Create a bounty for hunters!" %>
    <%= form_for(Bounty.new(name: @searchterm)) do |f| %>
      <%= f.hidden_field :name %>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
      <%= f.submit %>
    <% end %>
  <% else %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th colspan="3"></th>
       </tr>
     </thead>

      <tbody>
        <% @things.each do |thing| %>
          <tr>
            <td><%= thing.name %></td>
            <td><%= thing.description %></td>

            <td><%= link_to 'Show', thing %></td>
            <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
            <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
  <% end %>
  <br>

  <%= link_to 'New Thing', new_thing_path %>


  <%= link_to 'Bounties', bounties_path %>
  </div> <!-- end row  --> 
</div> <!-- end container -->