<script>
  start_map()
</script>


<div id="map-canvas" class="map maplg hidden-sm hidden-xs"> </div>

<div class="index hidden">
  <div class="row">
      <div class="col-xs-12">
        <div id="map-canvas-sm" class="map"> </div>
      </div>
    </div>
</div>

<div class="index">
  <script>
   things = [
              {
                name: "<%= @thing.name %>",
                lat: "<%= @thing.lat %>",
                lng: "<%= @thing.lng %>",
                imgpath: "<%= @thing.image %>",
                url: "<%= thing_path(@thing) %>"
              },
      ]


  </script>

  <div class="things_index">
  <p class="thing_name">
    <h1>
      <%= @thing.name %>
    </h1>
  </p>

  <p class="description">
    <%= @thing.description %>
  </p>

  <p class="hidden">
    <strong>Lat:</strong>
    <%= @thing.lat %>
  </p>

  <p class="hidden">
    <strong>Lng:</strong>
    <%= @thing.lng %>
  </p>

  <% if @thing.location.present? %>
    <p>
      <strong>location:</strong>
      <%= @thing.location %>
    </p>
  <% end %>

  <% if @thing.price.present? %>
    <p>
      <strong>price:</strong>
      <%= @thing.price %>
    </p>
  <% end %>

  <p class="thingimage">
    <img src="<%= @thing.image %>" style="max-width: 400px;" />
  </p>
  </div>
</div> <!-- end index -->
