<p id="notice"><%= notice %></p>

<script>
  start_map()
</script>

<div id="map-canvas" class="map"> </div>

<script>

 things = [
            {
              name: "<%= @thing.name %>",
              lat: "<%= @thing.lat %>",
              lng: "<%= @thing.lng %>",
              imgpath: "<%= @thing.image %>",
              url: "<%= thing_path(@thing) %>"
            },
    ]


</script>

<div class="things_index">
<p>
  <strong>Name:</strong>
  <%= @thing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thing.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @thing.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @thing.lng %>
</p>

<p>
  <strong>location:</strong>
  <%= @thing.location %>
</p>

<p>
  <strong>price:</strong>
  <%= @thing.price %>
</p>

<p>
  <strong>Image:</strong> <br>
  <img src=<%= @thing.image %> style="max-width: 400px;" />
</p>
</div>


<%= link_to 'Edit', edit_thing_path(@thing) %> |
<%= link_to 'Back', things_path %>
