<h1>Listing bounties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th> Found? </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bounties.each do |bounty| %>
      <tr>
        <td><%= bounty.name %></td>
        <td><%= bounty.email %></td>
        <td><%= bounty.found? %></td>
        <% if bounty.found? %>
         <td> <%= link_to 'Show Where I can find this thing', things_path(searchterm: bounty.name) %> </td>
         <% else %>
         <td> <%= link_to 'I found this thing!', new_thing_path(thing: {name: bounty.name}) %> </td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bounty', new_bounty_path %>
