<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bounty.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bounty.email %>
</p>

<%= link_to 'Edit', edit_bounty_path(@bounty) %> |
<%= link_to 'Back', bounties_path %>
